/* https://coolors.co/4a4a48-1db954-360568-d8d2e1-d0cdd7 */

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');

:root {
    --primary-light: #D0CDD7;
    --primary-dark: #5A5A58;
    --secondary-light: #D8D2E1;
    --spotify-green: #1DB954;
    --accent: #360568;

    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;

    background-color: var(--primary-dark);
    color: var(--primary-light);

    /* @media (prefers-color-scheme: light) {
        :root {
            color: #213547;
            background-color: #ffffff;
        }

        a:hover {
            color: #747bff;
        }

        button {
            background-color: #f9f9f9;
        }
    } */
}

/* Dynamic font size scaling with screen size */
@media(max-width: 600px){
    :root {
        font-size: 16px;
    }
}
@media(max-width: 400px) {
    :root {
        font-size: 14px;
    }
}

.header-text {
    font-family: 'Jura', sans-serif;
    font-weight: 500;
}

.body-text {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}